
@media screen and (min-width: 0px) and (max-width: 375px) {
    .card{
        display: block;
        border: 1px solid var(--fundo);
        border-radius: 1em;
        margin: 16px 0 0 0px;
        padding: 16px 0 0 16px;
        width: 75vw;
        height: 20vh;
    }

    .card span{
        font-weight: 600;
        font-size: var(--titulo-3);
    }
    
    .card p{
        font-weight: 700;
        font-size: var(--titulo-1);
    }
}

@media screen and (min-width: 376px) and (max-width: 400px) {
    .card{
        display: inline-block;
        border: 1px solid var(--fundo);
        border-radius: 1em;
        margin: 16px 0 0 16px;
        padding: 16px 0 0 16px;
        vertical-align: top;
        width: 20vw;
        height: 20vh;
    }

    .card span{
        font-weight: 600;
        font-size: var(--titulo-3);
    }
    
    .card p{
        font-weight: 700;
        font-size: var(--titulo-1);
    }
}